body {
    background-color: aqua;
}

#section-changes {
    display: inline-block;

}
main {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    margin-top: 120px;
}


#section-background-color {
    width: max-content;
    height: max-content;

    background-color: rgb(36, 112, 163);
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;   
}
.background-buttons {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: max-content;
    font-size: 20px;
    font-weight: 900;
    margin: 6px;
}
#button-background-color1 {
    background-color: aqua;
}
#button-background-color2 {
    background-color:lightgreen;
}
#button-background-color3 {
    background-color:lightcoral;
}

#section-text-color {
    width: max-content;
    height: max-content;

    background-color: rgb(36, 112, 163);
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.text-color-buttons {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: max-content;
    font-size: 20px;
    font-weight: 900;
    color: white;
    margin: 6px;
}
#button-text-color1 {
    background-color: black;
}
#button-text-color2 {
    background-color: red;
}
#button-text-color3 {
    background-color: green;
}

#section-font-size {
    width: max-content;
    height: max-content;

    background-color: rgb(36, 112, 163);
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.font-size-buttons {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: max-content;
    font-size: 20px;
    font-weight: 900;
    color: black;
    margin: 6px;
}
#button-font-size1 {
    font-size: 20px;
}
#button-font-size2 {
    font-size: 25px;
}
#button-font-size3 {
    font-size: 30px;
}

#section-text-family {
    width: max-content;
    height: max-content;

    background-color: rgb(36, 112, 163);
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.text-family-buttons {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: max-content;
    font-size: 20px;
    font-weight: 900;
    color: black;
    margin: 6px;
}
#button-text-family1 {
    font-family: 'Times New Roman', Times, serif;
}
#button-text-family2 {
    font-family:Arial, Helvetica, sans-serif;
}


#section-space-lines {
    width: max-content;
    height: max-content;

    background-color: rgb(36, 112, 163);
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.space-buttons {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: max-content;
    font-size: 15px;
    font-weight: 900;
    color: black;
    margin: 6px;

}


h2 {
    border: 2px solid white;
    margin: 0;
    background-color: rgb(53, 99, 199);
    text-align: center;
    color: white;
}

#paragraph-text {
    width: 50vw;
    height: max-content;

    margin: auto;
    padding: 20px;
    border: 3px solid black;

    background-color: white;

    font-size: 20px;
    line-height: 25px;
}

